a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

a:active{
    background-color: #333;
}

body {
    width: 100%;
}

.center{
    margin: auto;
    width: 50%;
}

div{
    display: block;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}



/* 
    --Navigation Bar--
*/

.navbar{
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav{
    float: right;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: none;
}


nav ul, footer ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

/*
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/