a{
    text-decoration: none;
    font-family: 'Inconsolata';
}
a:hover{
    text-decoration: underline;
}

/* Overwrite link colours */
#aOverride{
    color: #018786;
}
#aOverride:hover{
    color: #03DAC6;
}

/* Main body of site */
body{
    background-color: #121212;
    font-family: 'Inconsolata';
    width: 100%;
}

.center{
    margin: auto;
    width: 50%;
}

#footerLinks{
    padding-bottom: 40px;
}

h1{
    font-size: 6em;
    font-family: 'Inconsolata';
    font-weight: bold;
}

.heading{
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: #FFFFFF;
}

hr.solid{
    border-top: 3px solid #bbb;
    margin-top: -25px;
}

html{
    scroll-behavior: smooth;
}

/* Overwrite jumbotron */
.jumbotron{
    background-color: #121212;
    height: 100vh;
}
.jumbotron .h1, .jumbotron h1{
    color: #BB86FC;
    font-size: 5em;
}

.navbar{
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse .navbar-brand {
    color: #BB86FC;
}
.navbar-inverse .navbar-brand:hover {
    color: #FFFFFF;
}

nav ul, footer ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li{
    display: inline;
    margin-right: 20px;
}

.navbar-inverse .navbar-nav>.active>a{
    background: none;
    color: #BB86FC;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: none;
}

/*.navbar-inverse .navbar-nav>.active>a:focus{
    background-color: #001845;
}
/*.navbar-inverse .navbar-toggle{
    border-color: #001845;
}
/*.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #001845;
}*/

/* Paragraph text */
p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #FFFFFF;
    text-align: left;
}

.panel.panel-default{
    border-radius: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 10px 20px;
}

.panel-body{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}

/* Vertically align items */
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


/*
    --Media Queries--
*/
@media screen and (max-height: 450px){
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
