*{
    margin: 0;
    padding: 0;
 }

a{
    text-decoration: none;
    font-family: 'Inconsolata';
}
a:hover{
    text-decoration: underline;
}

.align-items-center{
    display: flex; 
    align-items: center;  /*Aligns vertically center */
}

/* Overwrite link colours */
#aOverride{
    color: #03DAC6;
}
#aOverride:hover{
    color: #018786;
}

/* Main body of site */
body{
    background-color: #121212;
    font-family: 'Inconsolata';
    width: 100%;
}

.center{
    margin: auto;
    width: 50%;
}

/* Education font sizes */
#educationAward{
    font-size: 1.5em;
}
#educationYear{
    font-size: 0.9em;
}

/* Footer */
footer{
    background-color: #000000;
    padding: 25px;
}
#footerLinks{
    padding-bottom: 40px;
}
#footerText{
    color: #BB86FC;
}

h1{
    font-family: 'Inconsolata';
    font-weight: bold;
}

.heading{
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: #FFFFFF;
}

hr.solid{
    border-top: 3px solid #bbb;
    margin-top: -25px;
}

html{
    scroll-behavior: smooth;
}

/* Link icons */
#iconGitHub{
    width: 100%;
    max-width: 19px;
    height: auto;
}
#iconLinkedIn{
    width: 100%;
    max-width: 20px;
    height: auto;
}
#iconEmail{
    width: 100%;
    max-width: 20px;
    height: auto;
}

.icon-bar{
    background: #BB86FC;
}

#imgSelfie{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    padding: 5px;
}

/* Overwrite jumbotron */
.jumbotron{
    background-color: #121212;
    height: 100vh;
}
.jumbotron .h1, .jumbotron h1{
    color: #BB86FC;
    font-size: 4.5em;
}

.navbar{
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-inverse .navbar-brand{
    color: #BB86FC;
}
.navbar-inverse .navbar-brand:hover{
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a{
    background: none;
    color: #BB86FC;
}
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: none;
}
/*.navbar-inverse .navbar-nav>.active>a:focus{
    background-color: #001845;
}*/
.navbar-inverse .navbar-toggle{
    border-color: #BB86FC;
    padding: 9px 10px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}
/*.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #001845;
}*/

nav ul, footer ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li{
    display: inline;
    margin-right: 20px;
}

/* Paragraph text */
p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #FFFFFF;
    text-align: left;
}

.panel.panel-default{
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 10px 20px;
}
.panel-body{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}

/* Responsive social links */
#socialLinks{
    overflow: hidden;
    background: #03DAC6;
    list-style: none;
    white-space: nowrap;
    margin-right: 7.5px;
    margin-left: 7.5px;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
}
#socialLinks a{
    opacity: 0;
    color: #000000;
    max-width: 0;
    display: inline-block;
    text-decoration: none;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
    font-size: 1em;
}
#socialLinks a:hover{
    color: #FFFFFF;
}
#socialLinks a i{
    float: right;
    display: block;
    padding-right: 1em;
}
#socialLinks:hover{
    background: #018786;
}
#socialLinks:hover a{
    opacity: 1;
    max-width: 150px;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}

.ul{
    padding-inline-start: none;
}

/* Vertically align items */
.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


/*
    --Media Queries--
*/
@media screen and (max-height: 450px)
{
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn
    {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (min-width: 768px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
  }
