*{
    margin: 0;
    padding: 0;
 }

a{
    text-decoration: none;
    font-family: 'Inconsolata';
}
a:hover{
    text-decoration: underline;
}

.align-items-center{
    display: flex; 
    align-items: center;  /*Aligns vertically center */
}

/* Overwrite link colours */
#aOverride{
    color: #03DAC6;
}
#aOverride:hover{
    color: #018786;
}

/* Project buttons */
.btn.btn-primary{
    color: #000000;
    background-color: #03DAC6;
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
    transition: 0.2s;
    width: 100%;
    margin-bottom: 10px;
}
.btn.btn-primary:hover{
    color: #FFFFFF;
    background-color: #018786;
    border: none;
    font-size: 1.2em;
    border-radius: 2px;
}

body{
    background-color: #121212;
    font-family: 'Inconsolata';
    width: 100%;
}

.center{
    margin: auto;
    width: 50%;
}

#contactLinks{
    background: #03DAC6;
    display: inline-block;
    border-radius: 50%;
    width:  200px;
    height: 200px;
    object-fit: scale-down;
}
#contactLinks:hover{
    background: #018786;
}

#contactText{
    font-size: 1.2em; 
    font-weight: bold;
    color: #000000;
    background: #BB86FC;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

/* Education font sizes */
#educationAward{
    font-size: 1.5em;
}
#educationTitle{
    font-size: 1.4em; 
    font-weight: bold;
    color: #000000;
    background: #BB86FC;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
#educationYear{
    font-size: 0.9em;
}

/* Footer */
footer{
    background-color: #000000;
    padding: 25px;
}
#footerLinks{
    padding-bottom: 40px;
}
#footerText{
    color: #BB86FC;
}

/* Make content grow on hover */
.grow{
    transition: all .2s ease-in-out; 
}
.grow:hover{
    transform: scale(1.1);
}

h1{
    font-family: 'Inconsolata';
    font-weight: bold;
}

.heading{
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: #FFFFFF;
}

hr.solid{
    border-top: 3px solid #bbb;
    margin-top: -25px;
}

html{
    scroll-behavior: smooth;
}

/* Link icons */
#iconGitHub{
    width: 100%;
    max-width: 19px;
    height: auto;
}
#iconLinkedIn{
    width: 100%;
    max-width: 20px;
    height: auto;
}
#iconEmail{
    width: 100%;
    max-width: 20px;
    height: auto;
}
#iconGitHubLarge{
    width: 100%;
    max-width: 80px;
    height: auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-40px;
}
#iconLinkedInLarge{
    width: 100%;
    max-width: 80px;
    height: auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-45px;
    margin-left:-35px;
}
#iconEmailLarge{
    width: 100%;
    max-width: 80px;
    height: auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-35px;
    margin-left:-40px;
}

.icon-bar{
    background: #BB86FC;
}

#imgProject{
    width: 100%;
    height: auto;
}
#imgSelfie{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    padding: 5px;
}

/* Overwrite jumbotron */
.jumbotron{
    background-color: #121212;
    height: 100vh;
}
.jumbotron .h1, .jumbotron h1{
    color: #BB86FC;
    font-size: 4.5em;
}

.keyContainer{
    font-size: 1em;
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}

/* Page loader */
#loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 12px solid #121212;
    border-radius: 50%;
    border-top: 12px solid #BB86FC;
    border-bottom: 12px solid #BB86FC;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}  
@-webkit-keyframes spin{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}  
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}  
@-webkit-keyframes animatebottom{
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}  
@keyframes animatebottom{ 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
/* Hide site content initially */
#siteContent{
    display: none;
    text-align: center;
}

#moduleList dt{
    color: #FFFFFF;
    font-weight: normal;
    text-align: left;
    font-size: 1.2em;
}

.navbar{
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-inverse .navbar-brand{
    color: #BB86FC;
}
.navbar-inverse .navbar-brand:hover{
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a{
    background: none;
    color: #BB86FC;
}
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: none;
}
/*.navbar-inverse .navbar-nav>.active>a:focus{
    background-color: #001845;
}*/
.navbar-inverse .navbar-toggle{
    border-color: #BB86FC;
    padding: 9px 10px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}
/*.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #001845;
}*/

nav ul, footer ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li{
    display: inline;
    margin-right: 20px;
}

/* Paragraph text */
p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #FFFFFF;
    text-align: left;
}

.panel.panel-default{
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 10px;
}
.panel-body{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}

#projectTitle{
    font-size: 1.6em; 
    font-weight: bold;
    color: #000000;
    background: #BB86FC;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

#skillsList li{
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #000000;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
}
#skillLang{
    background: #BB86FC;
}
#skillSoft{
    background: #03DAC6;
}

/* Responsive social links */
#socialLinks{
    overflow: hidden;
    background: #03DAC6;
    list-style: none;
    white-space: nowrap;
    margin-right: 7.5px;
    margin-left: 7.5px;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
}
#socialLinks a{
    opacity: 0;
    color: #000000;
    max-width: 0;
    display: inline-block;
    text-decoration: none;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
    font-size: 1em;
    font-weight: bold;
}
#socialLinks a:hover{
    color: #FFFFFF;
}
#socialLinks a i{
    float: right;
    display: block;
    padding-right: 1em;
}
#socialLinks:hover{
    background: #018786;
}
#socialLinks:hover a{
    opacity: 1;
    max-width: 150px;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
}

.ul{
    padding-inline-start: none;
}
.ul#menu li {
    display:inline;
}

/* Vertically align items */
.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


/*
    --Media Queries--
*/
@media screen and (max-height: 450px)
{
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn
    {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (min-width: 768px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
  }
